:root {
    --primary-color: #2F584E;
    --secondary-color: #FF9257;
    --text-color: #333333;
    --light-text: #202020;
    --background-white: #ffffff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: clamp(10px, 0.8vw, 16px);
}

body {
    background-color: var(--background-white);
    color: var(--text-color);
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
}

/* Main Split Layout */
.split-container {
    display: grid;
    overflow: hidden;
    grid-template-columns: 1.6fr 1fr;
    min-height: 100vh;
    width: 100%;
    max-width: 100vw;
    min-width: 320px;
    position: relative;
}

.split-container .bg-img {
    position: absolute;
    object-fit: cover;
    pointer-events: none;
}

.left-pane {
    display: flex;
    flex-direction: column;
    position: relative;
}

.left-pane>main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.main-header {
    display: flex;
    gap: clamp(2rem, 6vw, 6.3rem);
    align-items: center;
    padding: clamp(1.5rem, 2.5vw, 2.5rem) clamp(2rem, 6vw, 6.25rem);
    background: transparent;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    font-weight: 700;
    font-size: 1.75rem;
    color: #000;
    min-width: fit-content;
}

.logo span {
    padding-top: 0.625rem;
}



/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 0.375rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0.625rem;
    z-index: 100;
}

.hamburger span {
    width: 1.875rem;
    height: 0.1875rem;
    background-color: var(--primary-color);
    border-radius: 0.1875rem;
    transition: all 0.3s ease;
}

.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(0.5rem, 0.5rem);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(0.3125rem, -0.3125rem);
}

.main-nav {
    width: 100%;
}

.main-nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 0.9375rem;
}

.main-nav a {
    text-decoration: none;
    color: var(--light-text);
    font-weight: 400;
    font-size: 1.5rem;
    position: relative;
}

.main-nav a:hover {
    color: var(--secondary-color);
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 10% 2rem clamp(2rem, 6vw, 6.25rem);
    flex-grow: 1;
}

.hero-content .hero-text {
    display: flex;
    align-items: center;
    gap: 0.9375rem;
}

.hero-content h1 {
    font-size: 4.025rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: #111;
    text-transform: uppercase;
}

.hero-text figure {
    position: relative;
    height: 3.49375rem;
    width: 3.49375rem;
    margin-top: 2.8125rem;
}

.hero-text figure img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-description {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--light-text);
    line-height: 1.6;
    margin-bottom: 3rem;
    max-width: 38rem;
}

.social-proof {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

.student-count {
    max-width: 8.125rem;
}

.student-count p {
    font-size: 2.41875rem;
    display: block;
    font-weight: 400;
}

.student-count span {
    font-size: 1.35625rem;
    color: var(--light-text);
    max-width: 10.625rem;
}

.avatars {
    display: flex;
    align-items: center;
}

.avatars img {
    width: 5.91875rem;
    height: 5.91875rem;
    border-radius: 50%;
    border: 0.125rem solid white;
    margin-left: -2.8125rem;
}

.avatars img:first-child {
    margin-left: 0;
}

.cta-group {
    display: flex;
    gap: 1.679375rem;
    align-items: center;
}

.btn {
    border-radius: 4.553125rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    transition: transform 0.2s;
}

.btn:active {
    transform: scale(0.98);
}

.btn-primary {
    padding: 1.59375rem 4.553125rem;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.6125rem;
    font-weight: 600;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: white;
    color: var(--primary-color);
    outline: 0.125rem solid var(--primary-color);
}

.btn-text {
    padding: 0.53125rem;
    background: transparent;
    font-size: 1.6125rem;
    font-weight: 600;
    color: #000;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-text:hover {
    color: var(--primary-color);
    outline: 0.125rem solid var(--primary-color);
}

.cta-group img {
    width: 4.3rem;
    height: 4.3rem;
}

/* Right Pane */
.right-pane {
    background-color: #F1F6FE;
    background-image: url('../images/mask-group.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-top-left-radius: 0;
    height: 100%;
}

.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1.25rem;
    width: 100%;
    max-width: 37.5rem;
}

.grid-item {
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Stats Bar */
.stats-bar {
    background-color: var(--secondary-color);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 3rem clamp(2rem, 6vw, 6.25rem);
    width: 100%;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left: 0.25rem solid #F7BE2C;
    padding-left: 1.5rem;
}

.stat-item strong {
    font-size: 2.5rem;
    font-weight: 700;
}

.stat-item span {
    font-size: 1rem;
    font-weight: 500;
}

/* Responsive */
@media (max-width: 1440px) {
    .split-container {
        grid-template-columns: 1fr;
        min-height: auto;
    }

    .main-header {
        gap: 12.5rem;
    }

    .hero-content {
        padding: 4rem 5%;
        align-items: center;
        text-align: center;
    }

    .stats-bar {
        position: relative;
    }

    .right-pane {
        padding: 4rem 2rem;
    }

    .hero-description {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 990px) {

    .logo {
        min-width: auto;
    }

    .hamburger {
        display: flex;
    }

    .main-nav {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: white;
        box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        z-index: 99;
    }

    .main-nav.active {
        max-height: 300px;
    }

    .main-nav ul {
        flex-direction: column;
        padding: 1.25rem;
        gap: 1.25rem;
    }

    .main-header:has(.main-nav.active) {
        background-color: white;
    }

    .main-header {
        position: relative;
        justify-content: space-between;
    }

    .hero-content h1 {
        margin-bottom: 0;
    }

    .hero-content .hero-text {
        flex-direction: column;
    }

    .hero-content .hero-text figure {
        margin-top: 0;
        margin-bottom: 1.5rem;
    }
}